@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap");

:root {
  --main-font: JetBrains Mono, monospace;
  --main-bg: #282c34;
  --main-font-color: #2a9d8f;
  --en-color: linear-gradient(
    to right,
    rgba(178, 34, 52, 1) 0%,
    rgba(178, 34, 52, 1) 7%,
    rgba(231, 187, 193, 1) 8%,
    rgba(255, 255, 255, 1) 8%,
    rgba(255, 255, 255, 1) 14%,
    rgba(225, 170, 177, 1) 15%,
    rgba(178, 34, 52, 1) 16%,
    rgba(178, 34, 52, 1) 22%,
    rgba(184, 50, 67, 1) 23%,
    rgba(255, 255, 255, 1) 23%,
    rgba(255, 255, 255, 1) 30%,
    rgba(196, 85, 99, 1) 31%,
    rgba(178, 34, 52, 1) 32%,
    rgba(178, 34, 52, 1) 38%,
    rgba(214, 136, 146, 1) 38%,
    rgba(255, 255, 255, 1) 39%,
    rgba(255, 255, 255, 1) 45%,
    rgba(215, 196, 207, 1) 46%,
    rgba(60, 59, 110, 1) 47%,
    rgba(60, 59, 110, 1) 100%
  );
  --es-color: linear-gradient(
    to right,
    rgba(0, 104, 71, 1) 0%,
    rgba(0, 104, 71, 1) 33%,
    rgba(255, 255, 255, 1) 33%,
    rgba(255, 255, 255, 1) 67%,
    rgba(206, 17, 38, 1) 67%,
    rgba(206, 17, 38, 1) 100%
  );
  --de-color: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 33%,
    rgba(221, 0, 0, 1) 34%,
    rgba(221, 0, 0, 1) 66%,
    rgba(255, 206, 0, 1) 67%,
    rgba(255, 206, 0, 1) 100%
  );
  --it-color: linear-gradient(
    to right,
    rgba(0, 146, 70, 1) 0%,
    rgba(0, 146, 70, 1) 33%,
    rgba(255, 255, 255, 1) 33%,
    rgba(255, 255, 255, 1) 67%,
    rgba(206, 43, 55, 1) 67%,
    rgba(206, 43, 55, 1) 100%
  );
  --dot-color: #f9f9f9;
  --out-color: #e9c46a;
  --print-color: #e76f51;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-bg);
  font-size: 2vmin;
  font-family: var(--main-font);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-font-color);
}

.string {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 4s infinite;
}

h2 {
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.dot {
  color: var(--dot-color);
}

.out {
  color: var(--out-color);
}

.print {
  color: var(--print-color);
}

.greeting {
  color: white;
  position: relative;
  top: 8.6vmin;
  animation: white-out 5s infinite;
}

.greeting .gradient-text {
  color: transparent;
  background-clip: text;
}

.closure::after,
.closure::before {
  content: "";
  position: absolute;
  height: 25vmin;
  width: 40vmin;
  background: var(--main-bg);
}

.closure::after {
  transform: translate(-45vmin, -24.5vmin);
}

.closure::before {
  transform: translate(-40vmin, 5vmin);
}

.en {
  background: var(--en-color);
}

.es {
  background: var(--es-color);
}

.de {
  background: var(--de-color);
}

.it {
  background: var(--it-color);
}

@keyframes move {
  25% {
    transform: translatey(-5.8vmin);
    opacity: 1;
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}
